@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  font-family: Silkscreen;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("logo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    border: #e2f 0.5em solid;
    background-color: #fff;
    display: block;
    box-shadow: #0fe 0.1em 0.1em 0.1em;
    border-radius: 3em;
    padding: 0.5em;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    margin: 0.3em;
}

.navbar li {
    list-style-type: none;
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    padding: 0.5em 1em;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #0bf;
    box-shadow: #142 0.3em 0.5em 0.5em;
}

.text {
    margin-top: 3em;
    font-size: 2em;
    color: #fdf;
}

#buttons {
	display: flex;
	flex-direction: row;
	align-items: space-around;
	justify-content: center;
}

#buttons .button {
	border: 1em groove #01e;
	border-radius: 2em;

	padding: 0.7em;
	margin: 5em;
	color: white;
	transition: 0.3s ease-in-out;
}

#buttons .button:hover {
	background-color: #07e;
}

